:root{
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);

--fs:15px;
--mobile-Width:375px;

--laptop-width:1440px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  min-width :320px; 
  max-width: 500px;
  border: 2px red solid;
  background-color: var(--VeryDarkBlue);
  display: grid;
  grid-template-columns: 1fr;
}
main{
  background: var(--MediumGrey);
  border-radius: 20px;
  margin: 150px auto;
}
.star,.rating>div>span{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--LightGrey);
  
}
.rating>div>span{
  height: 500px;
  width: 500px;
  margin: 10px;
}
.img-star{
  background-image:url(./images/icon-star.svg);
  background-repeat:no-repeat ;
  background-position: center;
  height: 30px;
  width: 30px;
  z-index: 2;
  /* border:1px solid white; */
  border-radius: 50%;

}
.rating{
  margin: 50px auto;
  width: 70%;

}
.thank{
  display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
