:root{
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);

--fs:15px;
--mobile-Width:375px;

--laptop-width:1440px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body{
  min-width :320px; 
  max-width: 500px;
  border: 2px red solid;
  background-color: var(--VeryDarkBlue);
  display: grid;
  grid-template-columns: 1fr;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
